@charset "UTF-8";

#s_popup_wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

#s_popup_inside {
  text-align: center;
  width: 100%;
  max-width: 300px;
  background: white;
  margin: 20px;
  padding: 20px;
  position: relative;
  border: solid;
}

#s_close {
  position: absolute;
  width: 20px;
  top: 0;
  right: 5px;
  cursor: pointer;
  border: outset;
}
